<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/css/estilos.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Voluntario</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p>Bienvenid@ <%=user.nombre%> estas son operaciones de voluntario :)</p>
        <script src="" async defer></script>
         <a href="/voluntario/listar_gatos"><button>Editar Gatos</button></a>
         <a href="/voluntario/input_gato_formulario"><button>Agregar Gato</button></a>
    </body>
</html>