.detalle-scroll {
    max-height: 180px;
    overflow-y: auto;
    border: 1px solid #ddd;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

:root {
    --color-principal: #4a62ff;
    --color-principal-hover: #3b4fd6;
    --color-texto: #140151;
    --color-fondo: #f2f4f8;
    --color-card: #ffffff;
    --color-borde: #e1e1e1;
    --radio: 10px;
    --sombra: 0 4px 15px rgba(0,0,0,0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: var(--color-fondo);
    padding: 25px;
    color: var(--color-texto);
    line-height: 1.6;
}

section, div, p, img, a, button {
    margin-bottom: 12px;
}

h1, h2, h3 {
    font-weight: 700;
    margin-bottom: 18px;
    color: var(--color-texto);
}

h1 { font-size: 2.3rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.5rem; }

p {
    font-size: 1.05rem;
    margin-bottom: 15px;
}

img {
    width: 100%;
    max-width: 500px;
    border-radius: var(--radio);
    box-shadow: var(--sombra);
    display: block;
}

button, .btn {
    padding: 12px 24px;
    border: none;
    border-radius: var(--radio);
    background: var(--color-principal);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
    margin-right: 10px;
    margin-bottom: 12px;
    display: inline-block;
}

button:hover, .btn:hover {
    background: var(--color-principal-hover);
    transform: translateY(-2px);
    box-shadow: var(--sombra);
}

a {
    color: var(--color-principal);
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    text-decoration: underline;
}



table {
    width: 100%;
    border:#4a62ff;
    border-width: 10px;
    border-collapse: collapse;
    background: var(--color-card);
    box-shadow: var(--sombra);
    border-radius: var(--radio);
    overflow: hidden;
    margin-bottom: 25px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--color-borde);
    font-size: 1rem;
}

th {
    background: var(--color-principal);
    color: white;
    font-weight: 700;
}

tr:nth-child(even) {
    background: #f7f8fc;
}

tr:hover {
    background: #eef0ff;
}




.buscar-contenedor {
    position: relative;
    display: inline-block;
}

.panel-oculto {
    background: var(--color-card);
    box-shadow: var(--sombra);
    border-radius: var(--radio);
    padding: 15px;
    margin-top: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    min-width: 250px;
}

.panel-oculto input {
    padding: 10px;
    border: 1px solid var(--color-borde);
    border-radius: var(--radio);
    font-size: 1rem;
    width: 100%;
}


.panel-oculto.mostrar {
    display: block;
}

