<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/estilos.css"></head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Veterinario</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="/css/estilos.css">
    </head>
    <body>
        <p>Bienvenid@ <%=user.nombre%> estas son operaciones de veterinario :)</p>
        <p><a href="/veterinario/listar_vacunas"><button type="button">Listar vacunas y modificar</button></p>
        <p><a href="/veterinario/listar_medicinas"><button type="button">Listar medicinas y modificar</button></p>
        <p><a href="/veterinario/listar_enfermedades"><button type="button">Listar enfermedades y modificar</button></p>
        <br>
        <p><a href="/veterinario/listar_gatos"><button type="button">Listar gatos y editar</button></p>
        <p><a href="/veterinario/input_salud"><button type="button">Insertar vacunas, medicinas y enfermedades</button></p>
    </body>
</html>