
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Trabajador</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="/css/estilos.css">
    </head>
    <body>
        <p>Bienvenid@ <%=user.nombre%> estas son operaciones de adoptante :)</p>
        <a href="/usuario/listar_gatos"><button>Ver gatos disponibles para adopción</button></a>
        <a href="/usuario/listar_adopciones"><button>Ver adopciones realizadas</button></a>
        
        <script src="" async defer></script>
    </body>
</html>